*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: #cbcaa5;
}
section{
    padding: 7rem 9%;
}

header .bars{
    color: #2C5364;
    font-size: 2rem;
    text-decoration: none;
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(24, 3, 3);
    text-decoration: none;
}
header .links a{
    font-size: 1.5rem;
    padding: 0 1.2rem;
    text-decoration: none;
    color: #2C5364;
}
header .links a:hover{
    color: #334d50;
}
header .icons a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #2C5364;
    padding: 0 0.5rem;
}
header .icons a:hover{
    color: #43696d;
}

.home{
    padding-top:20px ;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url("./iamges/imgs.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    /* background-position: c; */
    background-size: cover;
    width: 100%;


}
.home .contect{
    max-width: 30rem;
}


.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.timer h1{
    font-size: 4rem;
    text-align: center;
}
.timer #timer{
    font-size: 2rem;
}
.button{
    text-align: center;
    display: flex;
    justify-content: center;
 padding-top:20px ;
}
.button button{
    /* width: 8%; */
    /* min-height: 20%; */
    padding: 30px;
    border-radius: 50px;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: #1ee9ff;
    cursor: pointer;
}
.button button i{
    font-size: 1.5rem;
    
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display: none; */
    
}
.te{
    /* text-align: center; */
    width: 100%;
   /* padding: 50px 0; */
   font-size: 2rem;
   max-width:400px ;
   /* background-color: #2C5364; */
   text-align: center;
}






























@media only screen and (max-width: 980px) {
    html{
        font-size: 70%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: right;
    }
  }

  
@media only screen and (max-width: 760px) {
    header .bars{
        display: none;
        padding-left:10px ;
    }
    header .links{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: none;
        clip-path: polygon(0,0,100%,0,100%,0,0 0);
    }
    /* header #toggler:checked ~ .links{
        clip-path: polygon(0,0,100%,0,100%,0,0 0);
    } */
  
    header .links a{
        display: none;
        margin: 1.2rem;
        text-align: center;
        padding: 0.8rem;
        font-size: 20px;
    }
  }


  @media only screen and (max-width: 480px){

  }
  
  