*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 162, 45);
    /* height: 100vh; */
}


  .Counter{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgb(252, 162, 45);
      height: 100vh;
      flex-direction: column;
  }
  .Counter-h1{
      background-color:rgb(252, 162, 45) ;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 20px;
  }
  #timer{
      display: flex;
      align-items: center;
      padding: 20 70px;
      font-size: 70px;
  }
  .Counter-h1:hover{
      background-color: azure;
  }